{{#each orders}}
<div style="margin-bottom: 50px;">
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>status</th>
        <th>payment_status</th>
        <th>shipment_status</th>
        <th>total</th>
        <th>name</th>
        <th>email</th>
        <th>phone</th>
        <th>address</th>
        <th>notes</th>
        <th>history</th>
        <th>createdAt</th>
        <th>updatedAt</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.status}}</td>
        <td>{{this.payment_status}}</td>
        <td>{{this.shipment_status}}</td>
        <td>{{this.total}}</td>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.phone}}</td>
        <td>{{this.address}}</td>
        <td>{{this.notes}}</td>
        <td>{{this.history}}</td>
        <td>{{this.createdAt}}</td>
        <td>{{this.updatedAt}}</td>

      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>vendor</th>
        <th>description</th>
        <th>quantity</th>
        <th>selected_unit</th>
        <th>price</th>
        <th>total</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.OrderLineItems}}
      <tr>
        <td>{{this.vendor}}</td>
        <td>{{this.description}}</td>
        <td>{{this.quantity}}</td>
        <td>{{this.selected_unit}}</td>
        <td>{{this.price}}</td>
        <td>{{this.total}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/each}}