<style>
  .order {
    margin-bottom: 50px;
    padding: 1em;
    page-break-after: always;
    font-family: sans-serif;
  }

  th,
  b {
    font-variant: small-caps;
  }

  table {
    border: thin solid black;
    border-collapse: collapse;
    width: 100%;
  }

  table tbody tr.li td,
  td.total {
    border-bottom: thin solid black;
  }

  tr td:first-child,
  tr th:first-child {
    padding-left: 1em;
  }

  tr td:last-child,
  tr th:last-child {
    padding-right: 1em
  }

  thead tr:first-child th {
    padding-top: 1em;
  }

  tbody tr:last-child td {
    padding-bottom: 1em;
  }

  .header {
    padding-bottom: 0.5em;
  }

  .divider {
    padding: 1em 0 0.5em 0;
  }

  .left-border {
    border-left: thin solid black;
  }

  .bottom-border {
    border-bottom: thin solid black;
  }

  .gray-bg {
    background: #ededed;
  }

  .date {
    font-size: 0.75em;
    font-style: italic;
  }

  pre {
    white-space: pre-wrap;
  }

  @media print {
    body {
      margin: 0;
      padding: 0;
    }

    .order {
      margin: 0;
      padding: 0
    }

    table {
      font-size: 14px;
    }
  }
</style>

{{#each orders}}
<div class="order">
  <table>
    <thead>
      <tr>
        <th align="left" class="header" colspan="2">ORDER #{{this.id}}</th>
        <th align="right" colspan="4" class="left-border gray-bg">MARSH COOP</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <b>status</b>
        </td>
        <td>{{this.status}}</td>
        <td align="right" colspan="4" class="left-border gray-bg">6917 S. Broadway</td>
      </tr>
      <tr>
        <td>
          <b>payment</b>
        </td>
        <td>{{this.payment_status}}</td>
        <td align="right" colspan="4" class="left-border gray-bg">St. Louis, MO 63111</td>
      </tr>
      <tr>
        <td>
          <b>shipment</b>
        </td>
        <td>{{this.shipment_status}}</td>
        <td align="right" colspan="4" class="left-border bottom-border gray-bg header">
          marshcoop.org <br>
          <a href="https://marshlife-art.org/marsh-food-cooperative-schedule/" target="_blank"
            rel="noopener noreferrer">Order Delivery Schedule</a>
        </td>
      </tr>

      {{#if this.User}}
      <tr>
        <td colspan="6">
          <b>created by</b>
          <span class="date">{{this.User.email}} ({{this.User.role}})</span>
        </td>
      </tr>
      {{/if}}

      <tr>
        <td colspan="6">
          <b>created at</b>
          <span class="date">{{this.createdAt}}</span>
        </td>
      </tr>

      <tr>
        <td colspan="6" class="divider"><b>CUSTOMER</b></td>
      </tr>
      <tr>
        <td><b>name</b></td>
        <td>{{this.name}}</td>
        <td colspan="4"><b>notes</b></td>
      </tr>
      <tr>
        <td><b>email</b></td>
        <td>{{this.email}}</td>
        <td colspan="4" rowspan="3">
          <pre>{{this.notes}}</pre>
        </td>
      </tr>
      <tr>
        <td><b>phone</b></td>
        <td>{{this.phone}}</td>
      </tr>
      <tr>
        <td><b>address</b></td>
        <td>{{this.address}}</td>
      </tr>

      <tr>
        <th colspan="6" align="left" class="divider">LINE ITEMS ({{this.item_count}})</th>
      </tr>

      <tr>
        <th align="left">vendor</th>
        <th>description</th>
        <th align="left">qty</th>
        <th align="center">unit</th>
        <th align="right">price</th align="right">
        <th align="right">total</th>
      </tr>

      {{#each_when this.OrderLineItems "kind" "product"}}
      <tr class="li">
        <td align="center">{{this.vendor}}</td>
        <td>{{this.description}}</td>
        <td align="left">{{this.quantity}}</td>
        <td align="center">{{this.selected_unit}}</td>
        <td align="right">{{this.price}}</td>
        <td align="right">{{this.total}}</td>
      </tr>
      {{/each_when}}

      <tr>
        <td colspan="5"></td>
        <td align="center" class="total left-border"><b>SUBTOTAL</b></td>
      </tr>
      <tr>
        <td colspan="5" class="bottom-border"></td>
        <td align="right" class="left-border bottom-border"><b>{{this.subtotal}}</b></td>
      </tr>

      {{#each_when this.OrderLineItems "kind" "adjustment"}}
      <tr class="li">
        <td align="center">{{this.vendor}}</td>
        <td>{{this.description}}</td>
        <td align="left">{{this.quantity}}</td>
        <td align="center">{{this.selected_unit}}</td>
        <td align="right">{{this.price}}</td>
        <td align="right">{{this.total}}</td>
      </tr>
      {{/each_when}}

      {{#each_when this.OrderLineItems "kind" "tax"}}
      <tr class="li">
        <td align="center">{{this.vendor}}</td>
        <td>{{this.description}}</td>
        <td colspan="3"></td>
        <td align="right">{{this.total}}</td>
      </tr>
      {{/each_when}}

      {{#each_when this.OrderLineItems "kind" "payment"}}
      <tr class="li">
        <td align="center">{{this.vendor}}</td>
        <td>{{this.description}}</td>
        <td align="left">{{this.quantity}}</td>
        <td align="center">{{this.selected_unit}}</td>
        <td align="right">{{this.price}}</td>
        <td align="right">{{this.total}}</td>
      </tr>
      {{/each_when}}

      <tr>
        <td colspan="5"></td>
        <td align="center" class="total left-border"><b>TOTAL</b></td>
      </tr>
      <tr>
        <td colspan="5"></td>
        <td align="right" class="left-border"><b>{{this.total}}</b></td>
      </tr>
    </tbody>
  </table>
</div>
{{/each}}